* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #1d1e1d;
}

nav {
  height: 100%;
  max-width: 155px;
  position: fixed;
}
nav .sidebar {
  max-width: 155px;
  height: 100vh;
  background-color: #171817;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .sidebar a:active {
  color: #e6a749;
}
nav .sidebar .mobile {
  display: flex;
  text-align: center;
  justify-content: center;
  display: none;
}
nav .sidebar .mobile ul {
  padding: 1em;
  list-style-type: none;
}
nav .sidebar .mobile ul li {
  margin: 1em 0;
}
nav .sidebar .mobile ul li a img {
  margin: auto;
}
nav .sidebar .wrapper {
  top: 50%;
}
nav .sidebar .wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 155px;
  padding: 1em;
}
nav .sidebar .wrapper ul li {
  position: relative;
  padding: 1em;
}
nav .sidebar .wrapper ul li a {
  font-size: 16px;
  text-decoration: none;
  position: relative;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: white;
}
nav .sidebar .wrapper ul li a:hover {
  color: #e6a749;
}

.hero {
  height: 100vh;
  margin-left: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container {
  max-height: 655px;
  display: flex;
}
.hero .container button {
  cursor: pointer;
}
.hero .container button:hover {
  color: white;
}
.hero .container .text {
  display: inline-block;
  max-width: 500px;
  color: white;
}
.hero .container .text .headers {
  font-size: 18px;
  margin-bottom: 2em;
}
.hero .container .text .headers .h1color {
  color: #e6a749;
}
.hero .container .text .learn-button {
  border: none;
  background-color: #e6a749;
  padding: 1.2em 3em 1.2em 3em;
  border-radius: 30px;
  margin: 1.5em 0 1.5em 0;
}
.hero .container .text .check-button {
  margin: 2em 0 2em 0;
  padding: 0.2em 1.6em 0.2em 1.6em;
  background-color: #e6a749;
}
.hero .container .text .widgets img {
  padding-right: 0.5em;
}
.hero .image {
  display: inline-block;
  margin-left: 3em;
}
.hero .image img {
  max-width: 545px;
  max-height: 650px;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 124px;
  padding: 10em 0;
  flex-direction: column;
}
.skills .header {
  color: #e6a749;
  margin-bottom: 2em;
}
.skills .container {
  max-width: 1100px;
  display: flex;
  gap: 2em;
}
.skills .container .frame {
  text-align: center;
  max-width: 300px;
  background-color: #171817;
  color: white;
  padding: 2em 0;
}
.skills .container .frame .main-pic {
  background-color: #1d1e1d;
  padding: 2.5em;
  border-radius: 40%;
  margin: 1em;
}
.skills .container .frame h2 {
  margin: 0 0 2em 0;
}
.skills .container .frame p {
  padding: 1em;
}
.skills .container .frame .tools img {
  padding: 1em;
}

.about {
  background-color: #171817;
  padding: 5em;
  margin-top: 2em;
}
.about .container .text {
  margin-left: 155px;
}
.about .container .text h2 {
  margin: 1em;
  color: #e6a749;
}
.about .container .text p {
  max-width: 600px;
  color: white;
  margin: 0 0.5em;
}

.work {
  margin-left: 124px;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.work .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5em;
}
.work .container h1 {
  margin-bottom: 1em;
  color: #e6a749;
}
.work .container .projects {
  display: flex;
}
.work .container .projects .project {
  max-width: 400px;
  margin: 1em;
  background-color: #171817;
  padding: 1em;
  border: 1px solid #e6a749;
  border-radius: 15px;
  transition: all 0.3s ease-out;
}
.work .container .projects .project img {
  max-width: 400px;
}
.work .container .projects .project .btns {
  display: flex;
  color: white;
}
.work .container .projects .project .btns a {
  color: white;
  text-decoration: none;
}
.work .container .projects .project .btns a:hover {
  color: #e6a749;
}
.work .container .projects .project .btns p {
  margin: 0 0.4em;
}
.work .container .projects .project h1 {
  color: #e6a749;
}
.work .container .projects .project p {
  color: white;
}
.work .container .projects .project:hover {
  scale: 1.2;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.work .more-btn {
  color: #e6a749;
  text-decoration: none;
  border: 2px solid #e6a749;
  padding: 1em 1.5em;
}
.work .more-btn:hover {
  background-color: #e6a749;
  color: #1d1e1d;
}

::-webkit-scrollbar {
  background-color: #171817;
  max-width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e6a749;
  width: 5px;
}

@media only screen and (max-width: 1560px) {
  .work .container .projects .project {
    max-width: 300px;
  }
  .work .container .projects .project img {
    max-width: 300px;
  }
}
@media only screen and (max-width: 1260px) {
  .work .container .projects {
    max-width: 400px;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1135px) {
  .hero {
    margin-bottom: 40em;
  }
  .hero .container {
    flex-direction: column;
  }
  .hero .image {
    margin: 0;
  }
}
@media only screen and (max-width: 850px) {
  nav .sidebar .wrapper {
    display: none;
  }
  nav .sidebar .mobile {
    display: block;
  }
  .hero {
    margin-left: 62px;
    margin-bottom: 20em;
  }
  .hero .image {
    display: flex;
    justify-content: center;
  }
  .hero .image img {
    max-width: 350px;
    min-height: 0;
  }
  .about {
    margin-left: 62px;
    padding: 2em;
  }
  .about .container .text {
    margin-left: 0;
  }
  .skills {
    margin-left: 62px;
  }
  .skills .container {
    flex-direction: column;
  }
  .work {
    margin-left: 62px;
  }
}
@media only screen and (max-width: 590px) {
  .hero {
    margin-bottom: 10em;
  }
  .hero .image img {
    max-width: 250px;
  }
  .hero .container .text p {
    font-size: 14px;
  }
  .hero .container .text .learn-button {
    padding: 0.6em 1.2em;
  }
  .hero .container .text .check-button {
    padding: 0.2em 0.8em;
  }
  .hero .container .text .headers {
    font-size: 14px;
  }
  .about .container .text {
    font-size: 12px;
  }
  .work .container .projects {
    max-width: 300px;
  }
  .work .container .projects .project img {
    max-width: 230px;
  }
}/*# sourceMappingURL=main.css.map */